# Git
.git
.gitignore

# Docker
Dockerfile
compose*.yaml
compose*.yml
.dockerignore

# Documentação e Configurações de Agente
.agents/
.github/
.distignore
ARCHITECTURE.md
ROADMAP.md
*.md

# Sistema Operacional e IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo